{% extends 'paciente/base_example.html' %}

{% load i18n static %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'all/forms.css' %}">
{% endblock extrastyle %}

{% load crispy_forms_tags%}
{% block content %}
<!--div class="container"-->

<div class="col-xl-12">

    <div class="card p-3 mb-3">
        <h3 class="card-title" align="center"> Paciente </h3>
        <div class="col-xl-12">
            <div class="d-flex justify-content-center">

                <form action="POST" method="post" autocomplete="off" style="padding-left: 20px; padding-right: 20px;">
                    {% csrf_token %}
                    {% crispy p_form %}
                </form>
            </div>

        </div>
    </diV>

</div>
<!--/div-->
{% endblock content %}