{% extends 'paciente/base.html' %}

{% block content %}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form action="." method="GET" class="form-inline">
                    <div class="form-group flex-grow-1">
                        <input id="id_search" name="search" class="form-control flex-grow-1" type="text"
                            placeholder="Buscar..." />
                    </div>
                    <div class="form-group pl-2">
                        <button type="submit" class="btn btn-success">Buscar</button>
                    </div>
                    <div class="form-group pl-2">
                        <a class="btn btn-link" href=".">Limpar</a>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div>
                    <table id="datatable" class="table table-striped table-inverse table-responsive table-bordered"
                        width="100%">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Nombre Completo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for paciente in paciente_list %}
                            <tr>
                                <td>{{ paciente.nombre}} {{paciente.apellido }}</td>
                                {# <td><a href="{% url " paciente:chota" paciente.id %}">Ver</a></td> #}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div>
                    {% load paginator_tags %}
                    {% get_proper_elided_page_range page_obj.paginator page_obj.number 1 1 as page_range%}
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                        <li class "page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Prev">
                                <span aria-hidden="true"><i class="fa-solid fa-arrow-left"></i></span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="disabled page-link" href="#" aria-label="Prev">
                                <span aria-hidden="true"><i class="fa-solid fa-arrow-left"></i></span>
                            </a>
                        </li>
                        {% endif %}


                        {% for i in page_range %}


                        {% if page_obj.number == i %}
                        <li class="active page-item" aria-current="page">
                            <a class="page-link" href="#">
                                {{ i }}
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        {% else %}
                        {% if i == page_obj.paginator.ELLIPSIS %}
                        <li class="page-item" aria-current="page">
                            <a class="page-link">
                                {{ i }}
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item" aria-current="page">
                            <a class="page-link" href="?page={{ i }}">{{ i }}
                            </a>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li class "page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true"><i class="fa-solid fa-arrow-right"></i></span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="disabled page-link" href="#" aria-label="Next">
                                <span aria-hidden="true"><i class="fa-solid fa-arrow-right"></i></span>
                            </a>
                        </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
            {% endblock content %}